<div>
  <div>
    <h1>
      <%= @current_user.first_name %>'s bookmarks
    </h1>

    <% if @current_user.department == nil%>
      <h6 class="text-muted">
        Department: Undecided
      </h6>

      <form action="/modify_user_dept" method="post" class="form-inline">
      <div class="form-group">

        <select name="query_department_id" class="form-control form-control-sm">
          <% Department.all.order(:title).each do |a_dept| %>
          <option value="<%= a_dept.id %>">
            <%= a_dept.title %>
          </option>
          <% end %>
        </select>
      </div>
      <div>
          <br>
          <button type="submit">
            <h6>Update Department</h6>
          </button>
        </div>
      </form>
    <% else %>
      <h6 class="text-muted">
        Department of <%= @current_user.department.title %>
      </h6>
    <% end %>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bookmark
    </h2>

      <form action="/insert_bookmark" method="post">
        <select name="query_event_id">
          <% Event.all.order(:title).each do |a_event| %>
          <option value="<%= a_event.id %>">
            <%= a_event.title %>
          </option>
          <% end %>
        </select>

      <button>
        Bookmark Event
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1" class="table table-hover">
      <tr>

        <th>
          Event
        </th>

        <th>
          Date
        </th>

        <th>
          Location
        </th>

        <th>
          Bookmarked
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
      <tr>

        <td>
          <%= a_bookmark.event.title %>
        </td>

        <td>
          <%= a_bookmark.event.date %>
        </td>


      <% if a_bookmark.event.zoom_url.present?%>
        <td>
          <a href=<%= a_bookmark.event.zoom_url %> target="_blank" rel="noopener noreferrer" role="button" class="btn btn-primary btn-small" >Enter Event</a>
        </td>
      <% else %>
        <td>
          <a href="/venues/<%= a_bookmark.event.venue.id %>" role="button" class="btn btn-info btn-small">
            <%= a_bookmark.event.venue.venue %>
          </a>
        </td>
      <% end %>


        <td>
          <%= time_ago_in_words(a_bookmark.created_at) %> ago
        </td>

        <td>
          <a href="/events/<%= a_bookmark.event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
