<div>
  <div>
    <h1>
      List of all speakers
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new speaker
    </h2>

    <form action="/insert_speaker" method="post">
      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="bio_box">
          Bio
        </label>

        <textarea id="bio_box" name="query_bio" rows="3"></textarea>
      </div>

      <div>
        <label for="first_name_box">
          First name
        </label>

        <input type="text" id="first_name_box" name="query_first_name">
      </div>

      <div>
        <label for="last_name_box">
          Last name
        </label>

        <input type="text" id="last_name_box" name="query_last_name">
      </div>

      <div>
        <label for="event_id_box">
          Event
        </label>

        <input type="text" id="event_id_box" name="query_event_id">
      </div>

      <div>
        <label for="department_id_box">
          Department
        </label>

        <input type="text" id="department_id_box" name="query_department_id">
      </div>

      <button>
        Create speaker
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Image
        </th>

        <th>
          Bio
        </th>

        <th>
          First name
        </th>

        <th>
          Last name
        </th>

        <th>
          Event
        </th>

        <th>
          Department
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_speakers.each do |a_speaker| %>
      <tr>
        <td>
          <%= a_speaker.id %>
        </td>

        <td>
          <%= a_speaker.image %>
        </td>

        <td>
          <%= a_speaker.bio %>
        </td>

        <td>
          <%= a_speaker.first_name %>
        </td>

        <td>
          <%= a_speaker.last_name %>
        </td>

        <td>
          <%= a_speaker.event_id %>
        </td>

        <td>
          <%= a_speaker.department_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_speaker.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_speaker.updated_at) %> ago
        </td>

        <td>
          <a href="/speakers/<%= a_speaker.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
