<div>
  <div>
    <h1>
      <%= @the_speaker.first_name %> <%= @the_speaker.last_name %>
    </h1>

    <div>
      <div>
        <a href="/events">
          Go back
        </a>
      </div>

      <div>
        <a href="/speakers">
          All speakers
        </a>
      </div>

      <div>
        <a href="/delete_speaker/<%= @the_speaker.id %>">
          Delete speaker
        </a>
      </div>
    </div>

    <dl>


      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_speaker.bio %>
      </dd>

      <dt>
        Event
      </dt>
       <% speaker_events = Event.where({ :speaker_id => @the_speaker.id  }) %>
       <% speaker_events.each do |an_event|%>
      <dd>
        <ul>
          <li><%= an_event.title %></li>
        </ul>
      </dd>
      <% end %>

      <dt>
        Department
      </dt>
      <dd>
        <%= @the_speaker.department.title %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_speaker.created_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit speaker
    </h2>

    <form action="/modify_speaker/<%= @the_speaker.id %>"  method="post" >
      <div>
        <label for="first_name_box">
          First name
        </label>

        <input type="text" id="first_name_box" name="query_first_name" value="<%= @the_speaker.first_name %>">
      </div>

      <div>
        <label for="last_name_box">
          Last name
        </label>

        <input type="text" id="last_name_box" name="query_last_name" value="<%= @the_speaker.last_name %>">
      </div>

      <div>
        <label for="bio_box">
          Bio
        </label>

        <textarea id="bio_box" name="query_bio"><%= @the_speaker.bio %></textarea>
      </div>

      <div>
        <label for="department_id_box">
          Department
        </label>

        <input type="text" id="department_id_box" name="query_department_id" value="<%= @the_speaker.department.title %>">
      </div>

      <button>
        Update speaker
      </button>
    </form>
  </div>
</div>

<hr>
